.sidebar{
  position: fixed;
  left: 0;
  top: 60px;
  height: 100%;
  width: 170px;
  background: #11101D;
  padding: 12px 0px;
  z-index: 99;
  transition: all 0.5s ease;

    .logo-details{
        height: 60px;
        display: flex;
        align-items: center;
        position: relative;
            .icon{
                opacity: 1;
                transition: all 0.5s ease;
            }

            .logo_name{
                color: #fff;
                font-size: 20px;
                font-weight: 600;
                opacity: 0;
                transition: all 0.5s ease;
            }
    }

    .logo-details .icon,
    .logo-details .logo_name{
      opacity: 1;
    }

    .logo-details #btn{
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        font-size: 22px;
        transition: all 0.4s ease;
        font-size: 23px;
        text-align: center;
        cursor: pointer;
        transition: all 0.5s ease;
    }

    .logo-details #btn{
      text-align: right;
    }

    i{
      color: #fff;
      height: 60px;
      min-width: 50px;
      font-size: 28px;
      text-align: center;
      line-height: 60px;
    }

    .nav-list{
      //margin-top: 20px;
      height: 100%;
      padding: 0px;
    }

    li{
        position: relative;
        list-style: none;
            a{
                display: flex;
                height: 100%;
                width: 100%;
                align-items: center;
                text-decoration: none;
                transition: all 0.4s ease;
                background: #11101D;
                /*color: white;*/
                &:hover{
                  background: #ffc107;
                  i, .links_name{
                      transition: all 0.5s ease;
                      color: #11101D;
                    }
                }

                .links_name{
                  color: #fff;
                  font-size: 15px;
                  font-weight: 400;
                  white-space: nowrap;
                  opacity: 1;
                  pointer-events: none;
                  transition: 0.4s;
                }
            }
    }

    .profile{
        position: fixed;
        height: 60px;
        width: 170px;
        left: 0;
        bottom: -8px;
        padding: 10px 14px;
        background: #1d1b31;
        transition: all 0.5s ease;
        overflow: hidden;
        .profile-details{
          display: flex;
          align-items: center;
          flex-wrap: nowrap;
        }

        #log_out{
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          background: none;
          width: 50px;
          height: 60px;
          line-height: 60px;
          border-radius: 0px;
          transition: all 0.5s ease;
        }

        .job, .name{
          font-size: 12px;
          font-weight: 400;
          color: #fff;
          white-space: nowrap;
        }
    }
}




.text-black{ color: #000 !important; }
.bg-custom {background: #ffc107;}
.navbar-custom {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    img{width:42px;}
}

.searche_btn{
    margin:0px !important;
    padding: .0rem 2.14rem;  
    webkit-box-shadow:none !important;
    box-shadow:none !important;
}
.tox-tinymce{
    min-height:400px !important;
}
.container_container {
    position: relative;
    top: 20vh;
    width: 80%;    
    margin: auto;
}

.login-container {
    position: relative;
    top: 25vh;
    width: 50%;
    margin: auto;
    padding: 2vh 2vw; 

    .btn-login {
        width: 100%;
        background: #004682!important;
        border: 0 solid transparent!important;
        transition: background 500ms;
        &:hover {
            width: 100%;
            background: #0066bd!important;
            border: 0 solid transparent!important;
        }
    }
}